#pragma once

// WiFi domyślne (fallback gdy brak zapisanych w LittleFS)
#define DEFAULT_WIFI_SSID "TwojaSiec"
#define DEFAULT_WIFI_PASS "TwojeHaslo"

// Telegram
#define TELEGRAM_BOT_TOKEN "123456789:AABBccDDeeFFggHH"
#define TELEGRAM_GROUP_ID -1234567890LL
